ion-popover.liquid-popover {
	--background: rgba(var(--ion-color-tertiary-rgb, 250, 224, 194), 1);
	--width: 280px;
	--box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
}

/* 2. Apply the blur directly to the container part */
ion-popover.liquid-popover::part(content) {
	border-radius: 2.5rem;
	overflow: hidden;
}

/* 3. Hide the scrollbar cleanly */
.hide-scrollbar::-webkit-scrollbar {
	display: none;
	width: 0 !important;
	height: 0 !important;
}

.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.liquid-action-sheet {
	--background: rgba(var(--ion-color-tertiary-rgb, 250, 224, 194), 0.4);
	--backdrop-opacity: 0;
}

.liquid-action-sheet .action-sheet-group.sc-ion-action-sheet-md:first-child {
	border-radius: 2rem 2rem 0 0;
}

.liquid-action-sheet .action-sheet-wrapper {
	backdrop-filter: blur(24px) saturate(150%);
	-webkit-backdrop-filter: blur(24px) saturate(150%);
	border-radius: 32px 32px 0 0;
	box-shadow: 0 -15px 40px rgba(0, 0, 0, 0.05);
}

.liquid-action-sheet .action-sheet-title {
	font-family: "Cabin Sketch", cursive;
	font-weight: bold;
	color: rgba(var(--ion-color-dark-rgb, 0, 0, 0), 0.7);
	font-size: 1.1rem;
}

.liquid-action-sheet .action-sheet-button {
	background: transparent;
	color: var(--ion-color-dark);
	font-weight: bold;
}

.normal-action-sheet {
	--background: var(--ion-color-tertiary);
	--backdrop-opacity: 0;
}

.normal-action-sheet .action-sheet-group.sc-ion-action-sheet-md:first-child {
	border-radius: 2rem 2rem 0 0;
}

.normal-action-sheet .action-sheet-title {
	font-family: "Cabin Sketch", cursive;
	font-weight: bold;
	font-size: 1.1rem;
}

.normal-action-sheet .action-sheet-button {
	font-weight: bold;
}

/* Global Alert Styling */
.liquid-alert {
	--background: var(--ion-color-tertiary);
}

/* Cancel Button */
.liquid-alert.button.alert-button.alert-button-confirm {
	color: var(--ion-color-secondary);
	cursor: pointer;
}
