@import "tailwindcss";
@import "tailwindcss-animated";

.safe-area {
    padding-top: var(--ion-safe-area-top, 0);
    padding-bottom: var(--ion-safe-area-bottom, 0);
    padding-left: var(--ion-safe-area-left, 0);
    padding-right: var(--ion-safe-area-right, 0);
}

.safe-area-bottom {
    padding-bottom: var(--ion-safe-area-bottom, 0);
}

ion-content.my-safe-area::part(scroll) {
    padding-top: var(--ion-safe-area-top, 0);
    padding-bottom: var(--ion-safe-area-bottom, 0);
    padding-left: var(--ion-safe-area-left, 0);
    padding-right: var(--ion-safe-area-right, 0);
}

@theme {
    --color-primary: var(--ion-color-primary);
    --color-primary-shade: var(--ion-color-primary-shade);
    --color-primary-light: var(--ion-color-primary-tint);
    --color-secondary: var(--ion-color-secondary);
    --color-secondary-light: var(--ion-color-secondary-shade);
    --color-background: var(--ion-color-tertiary);
    --color-warning: var(--ion-color-warning);
}