<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454566721535-ssmar2f7tjkdmtrr82vb7iect1fg4rqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454566721535-ssmar2f7tjkdmtrr82vb7iect1fg4rqk</string>
	<key>API_KEY</key>
	<string>AIzaSyDn0q8btHoFBIJSHTfj-OJxltjYe53tN4U</string>
	<key>GCM_SENDER_ID</key>
	<string>454566721535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ninja.sketchmate</string>
	<key>PROJECT_ID</key>
	<string>sketchmate-b5977</string>
	<key>STORAGE_BUCKET</key>
	<string>sketchmate-b5977.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454566721535:ios:0f091ea8356b0eb61519ca</string>
</dict>
</plist>